<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.demo.player">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SuperPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/superplayer_app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.tencent.liteav.demo.play.action.float.click" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VodPlayerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QRCodeScanActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".reveiver.WebDataReceiver">
            <intent-filter>
                <action android:name="com.tencent.liteav.action.WED_DATA" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
