<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.player.playwithsurfaceviewdemo">

    <application
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".PlayWithSurfaceViewActivity"
            android:exported="false"
            />
    </application>
</manifest>